body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
}

#root {
    width: 100%;
    height: 100%;
}

/* correction size img (attachment's bills) */
/* div.modal-body img {
        max-width: 100%;
    } */
